Flask
telethon
telethon-tgcrypto
python-dotenv
psutil
opencv-python-headless
devgagantools
aiofiles
aiohttp
motor
pymongo
pytz
Pillow
tgcrypto
werkzeug==2.2.2
mutagen
yt-dlp
requests
cryptography
pyrogram==2.0.106
tgcrypto
